<!-- About Container -->
<div class="w3-container w3-padding-64 w3-yellow w3-grayscale-min w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Acerca de nosotros</h1>
    <div class="w3-row">
      <div class="w3-col s6">
        <h2>testing description</h2>
        {{about.description}}
        <p>The description goes here!</p>
      </div>
      <div class="w3-col s6">
        {{about.image}}
        <h2>testing image</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc9nvEYOgrc2D0KeRblh-Bw09mD31WqT85s-c9NTjiuK-hDWfY" alt="test" class="w3-padding" style="width:90%">

      </div>
    </div>
  </div>
</div>
