<!-- Header with image -->
<header class="w3-display-container bgimg" id="home">
  <div class="w3-row top-head" id="er">
  <div class="w3-col l4 w3-display-container" id="er">
    <div>
        <img [src]="_is.Finfo.logo.large" class="logo">
    </div>
  </div>
  <div class="w3-col l8 name w3-panel w3-card" id="er">
    <h1 class="w3-jumbo title">{{ _is.Finfo.name }}</h1>
    <h2></h2>
    <hr>
    <h2 id="er">4131iasodjioasjdioasjdioasjiodjasiodjasiodjioasjdioasjdiosjaiodjasiojdioasjdioasjdjasoijdioasjdio4131iasodjioasjdioasjdioasjiodjasiodjasiodjioasjdioasjdiosjaiodjasiojdioasjdioasjdjasoijdioasjdio4131iasodjioasjdioasjdioasjiodjasiodjasiodjioasjdioasjdiosjaiodjasiojdioasjdioasjdjasoijdioasjdio</h2>
  </div>
</div>
</header>
