<!-- Contact (with google maps) -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale-min w3-xlarge" id="googleMap">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Contáctanos</h1>
    <div class="w3-row">
      <div class="w3-col l6">
        {{contact.description}}
        <p class="w3-xxlarge"><strong>Siéntete</strong> libre de mandar un mensaje:</p>
        <label for="email">Correo:</label>
        {{contact.email}}<br>
        <label for="phone">Teléfono:</label>
        {{contact.phone}}<br>
        <label for="cellphone">Celular:</label>
        {{contact.cellphone}}<br>
      </div>
      <div class="w3-col l6">
        {{contact.image}}
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc9nvEYOgrc2D0KeRblh-Bw09mD31WqT85s-c9NTjiuK-hDWfY" alt="test" class="w3-padding" style="width:90%">
      </div>
    </div>
  </div>
</div>
