<!-- Menu Container -->
<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
  <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Products</h1>
  <div class="w3-container">
    <div *ngFor="let product of _is.Finfo.products" class="w3-row">
      <div class="w3-col l4">
          <img [src]="product.image" class="w3-padding" style="width:90%">
          <br><br>
      </div>
      <div class="w3-col l8">
        <h1 class="w3-jumbo" style="margin-bottom:15px">{{product.name}}</h1>
        <p>{{product.description}}</p>
      </div>
    </div>
  </div>
</div>
